/* body */
body {
    width : 1000px;
    border: 1px solid;
}
/* header */
header {
    height: 350px;
}
#logo {
    float: left;
    height: 30px;
    margin: 5px 0;
}
header>form {
    float: right;
    margin-top: 5px;
}
#titleImg {
    clear:both;
    height: 310px;
    width: 100%;
}
/* navi */
.navi {
    width: 1000px;
    height: 60px;
    background-color: rgb(133, 133, 133);
}
.navi a{
    color: white;
    display: inline-block;
    height: 60px;
    width: 242px;
    text-align: center;
    line-height: 60px;
    border: 1px solid;
}
section {
    float: left;
    width: 340px;
}
#imgs {
    border: 1px solid;
    width: 60%;
    height: 530px;
    float: right;
}
aside {
    width: 100%;
    height: 157px;
}

.img {
   display: block; 
    object-fit: cover;
}
/* footer */
footer {
    clear: both;
    background-color: rgb(133, 133, 133);
}