/* ================ 1. 속성 선택자============== */
/* div 요소들 중 name속성값이 name1과 "일치"하는 요소 선택 */
div[name=name1] {
    background-color: cornflowerblue;
}

/* div 요소들 중 name속성값이 name1과 단어로 "포함"되어 있는 요소 선택 */
div[name~=name1] {
    color :yellow;
}

/* div 요소들 중 name속성값이 na로 "시작"하는 요소 선택 */
div[name^=na] {
    color:brown;
}

/* div 요소들 중 class속성값이 ss로 "끝"나는 요소 선택 */
div[class$=ss] {
    color :coral;
}

/* div 요소들 중 class속성값이 i가 "포함"되어있는 요소 선택 */
div[class$=ss] {
    color :coral;
    background-color: blanchedalmond;
}

/* class 속성값이 div-class인 요소들 중에 name속성값에 name3이 포함되어 있는 요소 */
.div-class[name~=name3] {
    background-color: darkred;
}

/* =================== 2. 자손/후손 선택자============= */
/* #test1의 자손들 모두 선택 */
#test1>* {
    background-color:aquamarine;
}

/* #test1의 자손들 중 h4요소만 선택 */
#test1>h4 {
    background-color:aquamarine;
}

/* #test1의 자손들 중 ul의 자손들 중 li요소만 선택 */
#test1>ul>li {
    color:blueviolet;
}

/* #test1의 후손들 중 li요소만 선택 */
#test1 li {
    background-color: darkolivegreen;
}

/* ===================3. 동위 선택자 ============================ */
/* #test2의 바로 뒤에 나오는 div 하나만 선택 */
#test2+div{background-color:rgb(114, 105, 67);}
#test2+ul{background-color:aquamarine;}
/* 선택안됨(바로 뒤 요소가 ul이 아니기 때문) */

/* #test2의 뒤의 형제들중 div는 모두 다 */
/* #test2~div{background-color: cyan;} */
#test2~ul{color:darkgoldenrod;}

/* ===================4. 반응 선택자 ============================ */

.area {
    background-color: lawngreen;
    width: 100px;
    height: 100px;
    cursor: pointer;
}

#active-test:active {
    background-color: brown;
    color: aliceblue;
}

#hover-test:hover {
    background-color: black;
    color: darkslateblue;
}

#link:link {color:aquamarine;}
#link:hover {color:gold;}
#link:active {color:black;}
#link:visited {color: darkorchid;}

/* ===================5. 상태 선택자 ============================ */
input[type=checkbox]:checked {
    width: 30px;
    height: 30px;
}

input[type=checkbox]:checked+label {
    font-size: 30px;
}

input[name^=user]:focus {
    background-color: blue;
}

button:enabled {
    color: blueviolet;
}

button:disabled {
    color:darkblue;
}

/* ===============6. 일반 구조 선택자 ======================= */
/* spring의 후손들 중 첫번째 */
#spring :first-child {background-color: lightgray;}
/* #spring >:first-child {background-color: lightgray;} */


#spring :last-child {background-color: lightgray;}
#spring :nth-child(2) {background-color:mediumspringgreen}
#spring :nth-child(2n) {color: blueviolet;} /* 짝수번째 */
#spring :nth-child(2n+1) {color:khaki;}  /* 홀수번째 */

/* ===============7. 형제 구조 선택자 ======================= */
#summer p:first-of-type {background-color: blue;}
#summer p:last-of-type {background-color:fuchsia;}

#summer p:nth-of-type(2) {background-color: lightcoral;}
#summer p:nth-of-type(2n) {background-color: rgb(255, 43, 43);} /* 짝수번호 */
#summer p:nth-of-type(2n+1) {background-color: rgb(119, 119, 119);} /* 홀수번호 */
#summer p:nth-last-of-type(2n+1) {background-color: rgb(46, 0, 0);} /* 홀수번호 */

/* ====================8. 부정 선택자 ======================= */

#fall :not(p:first-of-type) {color:mediumpurple;}
















