* {
    margin: 0 auto;
}
header {
    background-color: rgb(36, 36, 36);
    text-align: center;
}
header>h1 {
    color: white;
}
footer {
    background-color: rgb(36, 36, 36);
    text-align: center;
    color: white;
}